<div class="container">
	<div class="row">
<div class="col-md-6">
<div class="container">
	<form #todoForm= "ngForm" (submit)="todoSubmit(todoForm.value); todoForm.resetForm()" >
		<div class="form-group">
		<h1 class="text-center ">Todo App</h1>
			<div class="input-group-prepend">
			    <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo" ngModel>
				<span class="input-group-text" (click)="addTodo(todo.value);todoForm.resetForm()">
				<i class="material-icons">add</i></span>
			</div>
		</div>
		<div class="data">
		<ul class="list-unstyled">
			<li *ngFor="let todo of todoArray">{{todo}} <i (click)="deleteItem(todo)" class="material-icons">delete</i><a href="/update"><i class="material-icons">create</i></a></li>
		</ul>
    </div>
    
	</form>
	
</div>
</div>
<div class="col-md-6">
	<br>
	<div class="container center-block">
	<button class="btn btn-primary center-block" (click)="onClick()">Click me</button>
	<p>{{myvar}}</p>

	<table class="table">
		<thead>
			<tr>
				<th>
					FirstName
				</th>
				<th>
					LastName
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let pupil of people">
				<td>
					{{pupil.f_name}}
				</td>
				<td>
					{{pupil.l_name}}
				</td>
				<td>
				<p><button class="btn btn-success">Update</button>
				<button class="btn btn-danger" (click)="deleteMem(pupil.id)">Delete</button></p>
				</td>
			</tr>
		</tbody>
	</table>
	
<router-outlet></router-outlet>
</div>

<form  #myform="ngForm" (ngSubmit)="register(myform)">
	<div class="form-group">
	  <label for="firstName">First Name</label>
	  <input type="text" name="f_name" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="Enter First name" ngModel>
	 
	</div>
	<div class="form-group">
	  <label for="lastName">Last Name</label>
	  <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="l_name" ngModel>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>




</div>
</div>